

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    transition: background 0.4s ease;
}

a {
    text-decoration: none;
    color: black;
}

.post-md {
    margin: 0 auto;
    max-width: 900px;
    font-size: 15px;
    line-height: 27px;
}

.post-md a {
    text-decoration: underline;
    line-height: 30px;
    font-weight: 500;
}


.post-md li {
    margin-left: 40px;
}

.post-md table {
    font-size: 12px;
    background-color: #b1b1b1;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .post-md table, .post-md .table {
        overflow: scroll;
        max-width: 90vw;
    }
}

.post-md img {
    width: 100%;
}
